.header__controller {
  display: flex;
  background-color: black;
  color: #fff;
  height: 100vh;
}
.header__left {
  flex: 1;
}
.header__middle {
  height: 100vh;
  overflow-y: scroll;
  flex: 4;
}
.header__right {
  flex: 2;
}
