.status__bar__container {
  padding: 20px 30px;
  overflow-x: scroll;
  position: sticky;
  background-color: black;
  top: 0;
  z-index: 1;
}
.main__status {
  display: flex;
}
.status {
  display: flex;
  margin: 0px 10px;
  cursor: pointer;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.status__img {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgb(63, 94, 251);
  height: 60px;
}
.status__title {
  font-family: "poppins", sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 300;
}
